{% extends "conpro_limitedd/base.html" %}
{% load bootstrap4 %}
{% load static %}

<title>Conpro Limited &#8211; Consulting Civil, Services &amp; Cost Engineers</title>

{% block content %}
  <div id="slider">
    <div id="headerSlider" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
        <li data-target="#headerSlider" data-slide-to="1"></li>
        <li data-target="#headerSlider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="{% static 'images/bgimg.jpg' %}" alt="First slide">
          <div class="carousel-caption">
            <h5></h5>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="{% static 'images/bgimg2.jpg' %}" alt="Second slide">
          <div class="carousel-caption">
            <h5></h5>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="{% static 'images/bgimg3.jpg' %}" alt="Third slide">
          <div class="carousel-caption">
            <h5></h5>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="about-head ">About Us</h2>
          <div class="about-content">
            CONPRO Limited is a Civil Engineering and Construction Firm, 
            which provides a wide range of services in construction and development related activities. 
            With professionals from various disciplines, CONPRO Limited comprehensively provides services to our clients ranging from Consulting, Civil Services and Cost Engineering.
          </div>
          <a href="{% url 'conpro_limitedd:about' %}"><button type="button" class="btn btn-outline-primary">Learn More</button></a>
        </div>
        <div class="col-md-6">
          <p>Construction</p>
          <div class="progress" skills-bar>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">95%</div>
          </div>
          <p>Architecture</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
          </div>
          <p>Roofing</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90%</div>
          </div>
          <p>Road Construction</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Services-->
  <section id="services">
    <div class="container">
      <h1>Our Sevices</h1>
      <div class="row services">
        <div class="col-md-3 text-center">
          <div class="icon">
            <i class="fas fa-home"></i>
          </div>
            <h3>Structural Engineering</h3>
            <p>Our engineering professionals employ state of art technology 
              in structures, thus, we have the edge in terms of provision large 
              and detailed body of knowledge that predict the performance of different shapes 
              and materials used in structures to resist loads and stresses on structures.</p>
              <a href="{% url 'conpro_limitedd:services' %}#Structural-Engineering" class="badge badge-light">Read more</a>
          </div>
        <div class="col-md-3 text-center">
          <div class="icon">
            <i class="fas fa-chart-line"></i>
          </div>
            <h3>Quantity Surveying</h3>
            <p>Value for money is crucial in construction in order to build robust cost planning and 
              value management into every project right from beginning because construction is always 
              a costly endeavor; but our Quantity Surveyors ensure that the client has value for money 
              so we provide services.</p>
              <a href="{% url 'conpro_limitedd:services' %}#Quantity-Surveying" class="badge badge-light">Read more</a>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon">
            <i class="fas fa-drafting-compass"></i>
          </div>
            <h3>Civil Engineering Designs</h3>
            <p>We have consultants who focus on design work and generally spend more time in the office 
              or working with clients, and contractors who are more involved with keeping an eye on the 
              physical construction and are usually based on-site. Basically, we design, construct, 
              maintain and improve.</p>
              <a href="{% url 'conpro_limitedd:services' %}#Civil-Engineering-Designs" class="badge badge-light">Read more</a>
        </div><div class="col-md-3 text-center">
          <div class="icon">
            <i class="fas fa-hard-hat"></i>
          </div>
            <h3>Construction Management & Supervision</h3>
            <p>Our staff assists clients in concluding construction contracts and supervises their implementation. 
              Many buildings fail in events of disasters due to lack of quality control and oversight during their construction. 
              These services need to be provided by a strong team of locally trained engineers.</p>
              <a href="{% url 'conpro_limitedd:services' %}#Construction-Management-Supervision" class="badge badge-light">Read more</a>
        </div>
      </div>
      </div>
    </div>
  </section>
  <div class="container-b">
        <blockquote class="default">
          <p class="blockquote-text">We improvise and adopt appropriate modern technologies to meet our clients needs in Civil, 
            Construction, Property Development, Environment and Project Management through Total Quality Management approach.</p>
        </blockquote>

        <p class="b-text"><strong>Richard Quaynor</strong><br>CEO/ Structural Engineer(MSc, GhIE)</p>
  </div>

{% endblock content %}