{% extends "conpro_limitedd/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">

<title>Conpro Limited &#8211; Consulting Civil, Services &amp; Cost Engineers</title>
</head>
      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <h4 id="Structural-Engineering" class="h-scroll">Structural Engineering</h4>
        <div class="row no-gutters">
            <div class="col-sm-6 col-md-8">
                <p>Our engineering professionals employ state of art technology in structures, thus, 
                we have the edge in terms of provision large and detailed body of knowledge that predict the performance of different 
                shapes and materials used in structures to resist loads and stresses on structures.
                Civil engineering defines the urban landscape, creating the sustainable, effective infrastructure that is fundamental 
                to everyday life. There are broad range of civil engineering capabilities which we use to create powerful, bespoke 
                solutions for a diverse range of clients.
                Our structural engineers are chartered professionals who are good standing with engineering professional bodies always 
                exceeding end user needs so that the structures we use in our daily lives, like bridges and tall buildings, are safe, 
                stable and resilient against all loads. This is achieved by applying technical knowledge to specify different types 
                of construction materials in various shapes and geometries and design structures that can withstand the pressures 
                and stresses of their environment such as gravity loads, storms and earthquakes.
                Depending on the function of the building, we implore the use of standards, building codes,
                and sophisticated and up -to- date engineering software to analyze the different kinds of structures. Our 
                structural engineers have it a heart to ensure safety of the public is their top priority. When it comes to 
                buildings and infrastructure we use in our society, the consequences of a collapsed structure can be catastrophic. 
                To that effect our structural engineers use factors of safety in their design to account for uncertainty in load 
                assumptions and unexpected deficiency in construction material or workmanship.
                </p></div>
            <div class="col-6 col-md-4"><div class="shadow p-3 mb-5 bg-black rounded"><img src="{% static 'images/structure.jpeg' %}" class="img-gutter"></div></div>
          </div>
        <h4 id="Quantity-Surveying" class="h-scroll">Quantity Surveying</h4>
        <div class="row no-gutters">
            <div class="col-sm-6 col-md-8">
                <p>Value for money is crucial in construction in order to build robust cost planning and value management into every project 
                    right from beginning because construction is always a costly endeavor; but our Quantity Surveyors ensure that the client 
                    has value for money so we provide services which allow the client to avoid risks and pitfalls linked to unreliable 
                    back-of-the-envelope calculations and ballpark figures. We give accurate cash projections to allow the client to 
                    plan the budget ahead of time and prevent any unpleasant surprises. The client hence is able to steer away from 
                    unnecessary financial hurdles like overpaying for construction materials. What is more, our professionals 
                    are versed in uncovering opportunities to save money -opportunities that fly under the radar of most people. 
                    We closely monitor processes and supply the client with reports on the progress made. This significantly 
                    reduces the risk of delays and other setbacks. Our reputable surveyors add value to the building process 
                    and optimize expenses more often than not. Our expert team provides a wide range of services including: 
                    condition surveys and forward maintenance planning, measured surveys, space planning, business cases, 
                    feasibility studies, design, project delivery, technical assurance, landlord and tenant advice, due diligence 
                    and defect diagnosis inspections. Our surveying team can manage everything from stand-alone projects to major 
                    multi-site programmes of surveying and whole programmes of refurbishment work across a wide range of building 
                    types and sectors</p>
            </div>
            <div class="col-6 col-md-4"><div class="shadow p-3 mb-5 bg-black rounded"><img src="{% static 'images/quantity.jpg' %}" class="img-gutter"></div>
        </div></div>
        <h4 id="Civil-Engineering-Designs" class="h-scroll">Civil Engineering Designs</h4>
        <div class="row no-gutters">
            <div class="col-sm-6 col-md-8">
                <p>We have consultants who focus on design work and generally spend more time in the office or working with clients, 
                    and contractors who are more involved with keeping an eye on the physical construction and are usually based on-site.</p>
                <p>Basically, we design, construct, maintain and improve the physical environment, including; bridges, tunnels, roads, 
                    railways, canals, dams, buildings, flood and coastal defenses, airports and other large structures.&nbsp; But aside 
                    these, we:</p>
                <ul>
                    <li>Analyze long-range plans; survey reports, maps, and other data in order to plan projects.</li>
                    <li>Consider construction costs, government regulations, potential environmental hazards, and other factors in planning 
                        the stages of, and risk analysis for a project.</li>
                    <li>Test building materials, such as concrete or asphalt for use in particular projects.</li>
                    <li>Provide cost estimates for materials, equipment, or labor to determine a project’s economic feasibility.</li>
                    <li>Use design software to plan and design transportation systems, hydraulic systems, and structures in line with 
                        industry and government standards.</li>
                    <li>Present their findings to the public on topics such as bid proposals, environmental impact statements, or 
                        descriptions of projects.</li>
                    <li>Manage the repair, maintenance, and replacement of public and private infrastructure.</li>
                    </ul></div>
            <div class="col-6 col-md-4"><div class="shadow p-3 mb-5 bg-black rounded"><img src="{% static 'images/designs.jpg' %}" class="img-gutter"></div></div>
          </div>
        

		</div>
	</div>
        <h4 id="Construction-Management-Supervision" class="h-scroll">Construction Management & Supervision</h4>
        <div class="row no-guttergs">
            <div class="col-sm-6 col-md-8"><p>Our staff assists clients in concluding construction contracts and supervises 
                their implementation. Many buildings fail in events of disasters due to lack of quality control and oversight 
                during their construction. These services need to be provided by a strong team of locally trained engineers.
                Quality-control plans developed must identify milestones during construction when the quality of construction 
                materials and construction practices are tested and monitored. Our field and job-site experience also show that 
                inadequate supervision can lead to schedule and budget overruns. Our staff provides the client with construction 
                managers, and at the client’s request handles all project management, contractor coordination, and project control 
                at the project site. Construction supervision is divided into professional, cost, and project schedule supervision elements.
                </p></div>
            <div class="col-6 col-md-4"><div class="shadow p-3 mb-5 bg-black rounded"><img src="{% static 'images/super.jpg' %}" class="img-gutter"></div></div>
          </div>
      </div>

{% endblock content %}